<div class = "tab">
<h1 class = "abc">Welcome to Be Found!</h1>
<% if user_signed_in? %> 
  <p class = "abc"><%= notice %></p>
  <div class = "abc"> Welcome <%= current_user.email %> </div> 
  <div class = "abc"><%= button_to "Sign out", destroy_user_session_path, method: :delete %></div>
  <div class = "abc">
  <%= link_to('Profile', '/home/show')%>
  </div>
  <br><br>
  
  
  <% if current_user.user_type == "contractor"%>

  <div class = "abc">
  <%= link_to('Create New Job Post', new_job_post_path)%>
  </div>
  <div class = "abc">
  <%= link_to('Show all Job posts', job_posts_path)%>
  </div> 
  <%= form_with url: "/search", method: :get do |form| %>
  <div class = "abc">
  <%= form.label :category_name, "Search for:" %>
  <%= form.select :category_name, ['Electrical', 'Mechanical', 'Civil', 'IT', 'Medical', 'Household', 'Teaching']%> 
  <%= form.submit "Search" %>
  </div>
  <% end %>

  <% else %>
 
  <div class= "post">
  <%= form_with url: "/search", method: :get do |form| %>
  <div>
  <%= form.label :Category %><br>
  <%= form.select :category_name, ['Electrical', 'Mechanical', 'Civil', 'IT', 'Medical', 'Household', 'Teaching']%> 
  </div>
  <%= form.submit "Search" %>
  <div class = "abc">
  <%= link_to('Show all job posts', job_posts_path)%>
  </div>
  <% end %>
  <% end %>


<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
  <%= button_to "Sign in as Admin", new_admin_user_session_path%>
<% end %>