<div class = "tab">
  
  <% if user_signed_in? %> 
  <!--  <div class = "topnav">

      <%= link_to('Home', root_path)%>

      <%= link_to('Profile', '/home/show')%>
      <% if current_user.user_type == "contractor"%>
        <%= link_to('Create New Job Post', new_job_post_path)%>
      <% end %>
      
      <%= link_to('Show all Job posts', job_posts_path)%>
    
      <% if current_user.user_type == "worker"%>
        <%= link_to('My Applications', show_applies_path)%>
      <% end %>

      <%= link_to "All Tiny URLs", shortened_urls_path %>
      <%= link_to "Generate Tiny URL", new_shortened_url_path%>
    </div>

    -->

    <h1 class = "abc">Welcome to Be Found!</h1>
    <p class = "abc"><%= notice %></p>
    <div class = "abc"> Welcome <%= current_user.email %>....! </div><br> 
    
    <p class = "abc img profile" ><%= image_tag current_user.image.to_s, :size => "70x50" %></p>

    <!--<div class = "logout"><%= button_to "Sign out", destroy_user_session_path, method: :delete %></div><br> -->
    
  <% else %>
    <%= button_to "Sign in", new_user_session_path %> 
    <%= button_to "Sign in as Admin", new_admin_user_session_path %>
  <% end %>
</div>