<div class= "tab">
<p><%= notice %></p>

<%= form_with url: "/search", method: :get do |form| %>
  <div class = "abc">
  <%= form.label :category_name, "Search for:" %>
  <%= form.select :category_name, ['Electrical', 'Mechanical', 'Civil', 'IT', 'Medical', 'Household', 'Teaching']%> 
  <%= form.submit "Search" %>
  </div>
<% end %>


<table border= '1'>
<%= stylesheet_link_tag "main" %>
  <thead>
    <tr>
      <th class = "abc">Job Role</th><br>
      <th class = "abc">Job Description</th><br>
      <th class = "abc">Vacancies</th><br>
    </tr>
  </thead> 
  
  
    <% if current_user.user_type == "contractor"%>
    	<% @job_posts.each do|job_post| %>
    	<tbody>
    	<tr>
      <td class = "abc"><%= job_post.job_role %></td>
      <td class = "abc"><%= job_post.job_description %></td>
      <td class = "abc"><%= job_post.vacancies %></td>
      <td class = "abc"><%= link_to 'View', job_post %></td>
      <td class = "abc"><%= link_to 'Edit', edit_job_post_path(job_post) %></td>
      <td class = "abc"><%= link_to 'Delete', job_post_path(job_post), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %></td>
    	</tr>
    	</tbody>
    	<% end %>
    <% else %>
    	<% @job_posts.each do|job_post| %>
    	<thead>
    	<tr>
      <td class = "abc"><%= job_post.job_role %></td>
      <td class = "abc"><%= job_post.job_description %></td>
      <td class = "abc"><%= job_post.vacancies %></td>
      <td class = "abc"><%= link_to 'View', job_post %></td>
      <%# <td class = "abc"><%= link_to 'Edit', edit_post_path(post) %></td> 
      <%# <td class = "abc"><%= link_to 'Delete', post_path(post), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %></td> 
    	</tr>
    	</tbody>
    	<% end %>
		<% end %>
  <div class = "abc">
  <%= link_to 'Back', root_path%>
  </div>
</div>
</table>