<div class = "tab">
<h1 class = "abc ">Search Results</h1>
<table border= '1'>
  <%= stylesheet_link_tag "main" %>
    <thead>
      <tr>
        <th class = "abc">Job Role</th><br>
        <th class = "abc">Job Description</th><br>
        <th class = "abc">Vacancies</th><br>
        <th class = "abc">Salary</th><br>
        <th class = "abc">Qualification</th><br>
      </tr>
    </thead> 
  
  
    <% if current_user.user_type == "contractor"%>
    	<% @job_posts.each do|job_post| %>
    	  <tbody>
    	    <tr>
            <td class = "abc"><%= job_post.job_role %></td>
            <td class = "abc"><%= job_post.job_description %></td>
            <td class = "abc"><%= job_post.vacancies %></td>
            <td class = "abc"><%= job_post.salary %></td>
            <td class = "abc"><%= job_post.qualification %></td>
            <td class = "abc"><%= link_to 'View', job_post %></td>
            <td class = "abc"><%= link_to 'Edit', edit_job_post_path(job_post) %></td>
            <td class = "abc"><%= link_to 'Delete', job_post_path(job_post), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %></td>
    	    </tr>
    	  </tbody>
    	<% end %>
    <% else %>
    	<% @job_posts.each do|job_post| %>
    	  <tbody>
    	    <tr>
            <td class = "abc"><%= job_post.job_role %></td>
            <td class = "abc"><%= job_post.job_description %></td>
            <td class = "abc"><%= job_post.vacancies %></td>
            <td class = "abc"><%= job_post.salary %></td>
            <td class = "abc"><%= job_post.qualification %></td>
            <td class = "abc"><%= link_to 'View', job_post %></td>
            
        	</tr>
        	</tbody>
    	<% end %>
		<% end %>
    <div class = "abc">
      <%= link_to 'Back', root_path%>
    </div>
  </table>
</div>
