<div class = "tiny">
<p><%= notice %></p>

<div class = "abc" ><%= link_to 'Back', root_path%></div>

<h1 class = "abc" >All Shortened URLs</h1>

<table>
  <thead>
    <tr>
      <th class = "abc" >Original URL</th>
      <th CLASS = "abc" >Short URL</th>
      <th CLASS = "abc" >Click Count</th>
    </tr>
  </thead>
  <tbody>
    <% @shortened_urls.each do |shortened_url| %>
      <tr>
        <td class = "abc" ><%= shortened_url.original_url %></td>
        <td class = "abc" ><%= link_to shortened_url.short_url, shortened_url, target: "_blank" %></td>
        <td class = "abc" ><%= shortened_url.click_count %></td>
        <td class = "abc"><%= link_to 'Delete', shortened_url_path(shortened_url), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
